.cart__container{
    position: absolute;
    right: 0;
    top:0;
    background-color: #f1f0f0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 20%;
    
}

.cart__card{
    display:flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.8rem 0;
    
    justify-content: center;
    gap: 2rem;
   
    
    position: relative;
}

.line{
    width: 80%;
    height: 1px;
    margin: auto;
    position:absolute;
    top:2rem;
    bottom: 0;
    background-color: #e7e7e75d;
}
.cart__items img{
    object-fit: contain;
    background-color: #eeecec;
    width: 20%;
  
}

.cart__items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.card__titles{
    display: flex;
    justify-content: space-between;
}
.card__titles h4{
    font-size: 0.7rem;
}
.cart__buttons{
    display: flex;
}

.cart_close{
    font-size: 0.6rem;
    cursor:pointer;
}
.cart__main{
    position: relative;
}

.cart__wall{
        position: absolute; /* Hace que el div se posicione encima de la imagen */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}

.cart__bottom {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    
    left: 0;
    right: 0;
}
.cart__span_price{
    display: flex;
    gap:3rem;
}
.cart__btn{
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #8e2de2;
    color: #fff;
}

.cart__buttons__left ,.cart__buttons__rigth {
    width: 30px;
    background-color: transparent;
    border:1px solid #000;
    outline: none;
}

.cart__buttons__center{
    width: 50px;
    background-color: transparent;
    border:1px solid #000;
    text-align: center;
    outline: none;
    
}



@media screen and (max-width:1080px) {
    .cart__container{
        width: 50%;
    }
}